[2013-03-27 10:53] alim-akbashev opened #1 "ErrorException after update"
ErrorException: Runtime Notice: Declaration of Lsw\MemcacheBundle\Cache\LoggingMemcache::increment() should be compatible with Memcached::increment($key, $offset = NULL, $initial_value = NULL, $expiry = NULL) in vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcache.php line 7

PHP 5.4.6-1ubuntu1.2
php5-memcached 2.0.1-6

[2013-03-28 15:55] #1 closed, assigned to mevdschee

[2013-04-05 12:46] WishCow opened #2 "InvalidArgumentException: The following arguments are not supported: ttl"
I'm receiving an exception when trying to clear the cache/access my site with the bundle installed. Symfony version is 2.1.7, and the exception happens in vendor/symfony/symfony/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php line 58.

I would post a stacktrace, but refers to my cached appDevDebugProjectContainer file, which is I believe no use to you.

[2013-04-05 23:51] #2 closed, assigned to mevdschee

[2013-04-09 16:05] WishCow opened #3 "Setting prefix_key causes ErrorException"
I have the following config:

[code]

This results in:

[code]

If I remove the prefix_key, everything is fine.

[2013-04-10 21:42] #3 closed, assigned to mevdschee

[2013-04-16 08:10] dinamic opened #4 "tags?"
It would be nice to have some tags.
This way current development work can be separated from the stable release.

Also if there are any changes in symfony 2.3 that would affect the bundle, a tag would be a must.

[2013-04-16 08:15] dinamic opened #5 "require memcached php extension?"
I've tried to install the bundle, but it seems the memcached php extension is a requirement.

What about the users of a shared hosting that does not provide memcached extension?

IMHO this should be a suggestion rather than requirement.

The requirement has to be set for the ext-memcache, which provides the Memcache class.

[code]

[2013-04-19 07:58] bartgryszko opened #6 "Sessions doesn't work with the bundle & SF2.2.1"
Hi,

I'm on Symfony 2.2.1& LswMemcacheBundle is installed. I've tried to run sessions handling on two different servers, but after ie. login, nothing happend – session isn't writed down. If I switch back to file-based-sessions everything seems to work.

My config.yml:

[code]

[2013-04-23 16:37] #6 closed, assigned to mevdschee

[2013-04-24 16:02] #5 closed, assigned to mevdschee

[2013-04-24 16:36] #4 closed, assigned to mevdschee

[2013-05-21 23:02] agemmell opened #7 "Symfony reporting 2x memory usage"
Hello!  I am just starting out using Memcached with Doctrine (in Symfony) and I've gone straight to using your bundle to help me do that.

I am testing the Memcached caching on an API call which makes just 4 queries but returns a lot of data.  This data is parsed and output as JSON.  I intend to simply cache those 4 queries.

Straight away I am experiencing something surprising.  Symfony's debug b

[2013-06-14 12:29] #7 closed, assigned to nobody

[2013-09-05 10:34] ghisleouf opened #10 "Anti Dog Pile System, how to use it ?"
I'd like to configure the bundle to use the Anti Dog-Pile system on doctrine queries, is it possible ? How can i achieve it ?

Thanks a lot.

[2013-09-19 11:38] vsergiu opened #12 "install bundle dependency error"
I get the following error when I try to install the bundle:

  Problem 1
    - Installation request for symfony/framework-standard-edition 2.3.x-dev -> satisfiable by symfony/framework-standard-edition[2.3.x-dev].
    - symfony/framework-standard-edition 2.3.x-dev requires leaseweb/memcache-bundle \* -> no matching package found.

Potential causes:
- A typo in the package name
- The package is not

[2013-09-19 14:06] #12 closed, assigned to nobody

[2013-11-13 07:01] hieuapl opened #13 "session locking issue"
The recent change to session locking being set to default would cause httpd server becoming unresponsive.

Have a current setup where 2 servers are using memcached  to share session information. If server A a User starts printing a PDF file then the server B would become unresponsive until server A finish processing the PDF file (note server A is also un-useable).

Setting session locking to false

[2013-11-19 08:59] #13 closed, assigned to nobody

[2013-12-23 07:25] teampl4y4 opened #14 "Composer Update Not Seeing Memcache PHP Extension"
I am going through the installation set up, and when I get to the $ composer update .. I get this error:

[code]

However I have confirmed through multiple ways that Memcache is set up (both server and client), see this as proof:

[code]

I've tried several different mechanisms, articles, blogs, but nothing seems to work?  Any help would be greatly appreciated.

Thanks,
Josh

[2013-12-23 19:33] #14 closed, assigned to nobody

[2014-01-13 13:42] Flofr opened #15 "Bug multiple servers memcached"
Hello,

I have configured your bundle with multiple servers for use in doctrine result cache but when I get the memcached server list I have got this :

<pre><code>
array (size=18)
  0 =>
    array (size=2)
      'host' => string '192.168.60.41' (length=13)
      'port' => int 11211
  1 =>
    array (size=2)
      'host' => string '192.168.60.42' (length=13)
      'port' => int 11211
  2 =>
    ar

[2014-01-14 11:03] #15 closed, assigned to nobody

[2014-01-23 11:11] Grome13 opened #16 "Undefined property: Lsw\MemcacheBundle\Cache\AntiDogPileMemcache::$memcache"
Hi!

I use your bundle to use memcached in a Symfony2 application but when i try to deploy it on a server i have this error message :

Undefined property: Lsw\MemcacheBundle\Cache\AntiDogPileMemcache::$memcache in /var/www/selling/releases/20140123102411/vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcacheTemplate.php on line 24

PHP Fatal error:  Call to a member function getS

[2014-02-23 00:42] mieszko4 opened #19 "Memcached session fallback"
Perhaps this is more a php related problem.
I set memcache for session as:

[code]

All is fine when my memcached server is on.
However, when it is off I am not able to use sessions anymore.

Is there any way to set this with some kind of fallback, so that when the memcached server is gone it would use the default filesystem until it is back again?

[2014-03-10 12:44] #10 closed, assigned to mevdschee

[2014-04-05 21:03] #19 closed, assigned to nobody

[2014-04-09 08:24] #16 closed, assigned to nobody

[2014-04-09 12:34] titouan13 opened #20 "PHP Strict Standards errors"
Hi,

When I upload my website folder on my server, I got this error for almost every function of LswMemcacheBundle:

PHP Strict Standards: Declaration of Lsw\MemcacheBundle\Cache\LoggingMemcache::replace() should be compatible with Memcached::replace($key, $value, $expiration = NULL, $udf_flags = NULL) in XXX/vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcache.php on line 501

[2014-04-10 07:05] maxim-mamonov opened #21 "Сompatibility with memcached 2.2.0 (Runtime Notice)"
Could you please check compatibility LswMemcacheBundle with http://pecl.php.net/package/memcached/2.2.0

[code]

I use centos 5.7, php 5.4.27 and memcached 2.2.0. When I downgraded php-pecl-memcached to 2.1.0 - bundle works greate.

[2014-04-12 00:19] #20 closed, assigned to nobody

[2014-05-09 03:59] teohhanhui opened #23 "Composer warning - ambiguous class resolution"
[code]

[2014-05-14 22:49] kwn opened #24 "Conflict with Gedmo\Timestampable"
When I use Doctrine Support (actually: doctrine->metadata_cache) the Gedmo\Timestampable annotation doesn't work.

[2014-05-17 23:45] #24 closed, assigned to nobody

[2014-05-19 11:19] deep9 opened #25 "Warning: Parameter 3 to Memcached::get() expected to be a reference"
Since 1.2.7, where the call was changed (https://github.com/LeaseWeb/LswMemcacheBundle/blob/v1.2.6/Cache/LoggingMemcache.php#L77) I'm getting: ContextErrorException: Warning: Parameter 3 to Memcached::get() expected to be a reference, value given in /vagrant/vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcache.php line 35.

The change is here (https://github.com/LeaseWeb/LswMem

[2014-07-24 19:04] jinfollc opened #29 "deleteByRegex() support"
In the doctrine documentation (http://docs.doctrine-project.org/en/2.0.x/reference/caching.html#by-regular-expression)  it states:

In order to use deleteByRegex(), deleteByPrefix(), deleteBySuffix(), deleteAll(), count() or getIds() you must enable an option for the cache driver to manage your cache IDs internally. This is necessary because APC, Memcache, etc. don’t have any advanced functionalit

[2014-08-30 17:12] h4cc opened #31 "'LoggingMemcache::getMulti() should be compatible with Memcached::getMulti'"
Hi there,

i am using this version of your Bundle:

[code]

and get this error:

[code]

My System:

[code]

I have seen these kind of errors have occured a few times now. Hope my description helps.
If you have a branch with a fix, i can try it before tagging.

[2014-08-30 17:17] h4cc opened #32 "HHVM compatibility"
Hi there,

the current version of this Bundle `1.2.13` is not useable with HHVM in stable version `3.2.0`.

The problem is, that the memcached extension is using the version string `2.2.0b1` instead of just `2.2.0`.
Is there a way to make this work? Maybe we could integrate tests running on travis against hhvm and hhvm-nightly to support them.

Version output:

[code]

[2014-09-08 13:07] #31 closed, assigned to nobody

[2014-09-15 14:47] h4cc opened #34 "Run builds an travis-ci"
Please activate this repository on travis-ci, and configure the hook.

[2014-09-16 12:23] Turneliusz opened #35 "Strict standards broken"
[code]

PHP Version:

[code]

[2014-09-18 11:07] turneliusz opened #36 "Add support for AWS Memcached ElastiCache cluster"
Can you add possibility to setup option, e.g.:

[code]

See: http://docs.aws.amazon.com/AmazonElastiCache/latest/UserGuide/AutoDiscovery.html#AutoDiscovery.ModifyAppPHP

Amazon provides special version of Memcached client for PHP that is able to auto-detect nodes but the option needs to be specified explicitly.

[2014-09-26 11:29] Dukecz opened #37 "Memcache connections are left open after page load"
After every page load the memcached Curr Connections is increased and when it hits Max Connection the whole website stop working because of connection timeout.

My `config.yml`:

[code]

[2014-09-29 12:17] h4cc opened #38 "Segfaults with v1.2.15"
Using the v1.2.15 release this PHP version will cause a silent segfault:

[code]

Have not yet been abled to trace down the cause, but will update when i find it.

[2014-10-10 08:44] Sander-Toonen opened #40 "Sessions no longer stored in memcache"
Ever since the update from v1.2.13 to v1.2.14 sessions are no longer stored in memcache by solely defining a client for lsw_memcache. This is due to the following commit: df0a643e17bf82f1dd93d790560d55ee9779b05b

In `Symfony\Bundle\FrameworkBundle\DependencyInjection\FrameworkExtension::registerSessionConfiguration()` the `session.handler` alias is always set to the session handler set at that mom

[2014-10-27 07:55] joshuataylor opened #41 "Argument 3 passed to Lsw\MemcacheBundle\DataCollector\MemcacheDataCollector::addClient() must be an instance of Lsw\MemcacheBundle\Cache\LoggingMemcacheInterface, instance of Lsw\MemcacheBundle\Cache\AntiDogPileMemcache given"
When installing from either * or dev-master:

`
ContextErrorException: Catchable Fatal Error: Argument 3 passed to Lsw\MemcacheBundle\DataCollector\MemcacheDataCollector::addClient() must be an instance of Lsw\MemcacheBundle\Cache\LoggingMemcacheInterface, instance of Lsw\MemcacheBundle\Cache\AntiDogPileMemcache given, called in /home/josh/web/example/app/cache/dev/appDevDebugProjectContainer.php

[2014-12-12 14:42] istaveren opened #42 "composer gives memcached >= 1.0 README => 1.0.2"
The documentation states that we need at least memcache 1.0.2.

Where the composer.json requires memcached >= 1.0

Is there a reason that 1.0.1 and 1.0.0 are not supported?

[2015-01-15 20:14] estheban commented on #40
Thanks.

[2015-01-17 22:52] hmert commented on #1
Hi,
we have following config and getting same error.
https://github.com/okulbilisim/ojs/blob/master/.travis.yml

[code]
https://travis-ci.org/okulbilisim/ojs/builds/47384062

[2015-01-30 12:28] gf-pl commented on #41
I have the same situation despite having memcached 2.1. What else should I install and or downgrade?

from my phpinfo():
[code]

[2015-02-16 15:35] grzegorzmurdzek commented on #37
@Dukecz Please check if you have persistent_id entry in symfony app/config.yml file, i.e.:

[2015-02-26 18:51] phillipsnick opened #43 "Runtime Notice: Declaration of LoggingMemcache::get() should be compatible with Memcached::get"
Full notice:

[code]

I'm using Memcached version 2.2.0

I can't quite get my head around this one as it looks fine to me
https://github.com/php-memcached-dev/php-memcached/blob/master/memcached-api.php#L192

Looks identical to me as https://github.com/LeaseWeb/LswMemcacheBundle/blob/master/Cache/LoggingMemcache.php#L1380

Am I missing something here (sorry its been a long week)?

[2015-02-26 19:38] phillipsnick commented on #43
Just seen theres already an issue of this.

Duplicates https://github.com/LeaseWeb/LswMemcacheBundle/issues/21

[2015-02-26 19:38] #43 closed

[2015-04-15 13:50] bigfoot90 opened #44 "Doctrine Second Level Cache"
Please implement support for [Doctrine Second Level Cache](http://doctrine-orm.readthedocs.org/en/latest/reference/second-level-cache.html)

[2015-04-15 13:56] bigfoot90 opened #45 "Add support for JMS Serializer"
Please implement support for **JMS Serializer** metadata caching
[Library](http://jmsyst.com/libs/serializer/master)
[Bundle configuration](http://jmsyst.com/bundles/JMSSerializerBundle/master/configuration#configuration-block-1-0)

[2015-04-15 13:59] bigfoot90 opened #46 "Is there a command for clearing cache by client?"
Is there a command for clearing cache by client?

[2015-04-16 10:12] manelpm10 opened #47 "Session cache dos not work"
I've installed and configured LswMemcacheBundle acording with the documentation:

Modified app/AppKernel.php, added the lsw_memcache to the config.yml

[code]

And the memcached server is working as expected

[code]

But the sessions aren't stored in the memcached. I've seen in the known issues that debug doesn't show the memcached hits/writes... for session, but anyway, I've debuged the LockingSe

[2015-04-16 10:43] manelpm10 commented on #47
Answering myself: https://github.com/LeaseWeb/LswMemcacheBundle/issues/40

[2015-04-16 10:43] #47 closed

[2015-05-13 13:33] datanel commented on #41
In Lsw\MemcacheBundle\Cache\LoggingMemcache you can temporarily replace
[code]
by
[code]
and all
[code]
by
[code]

thanks to @vincentlepot

[2015-05-28 12:58] picks44 opened #48 "How to use on windows without php_memcached.dll available ?"
I'm trying to use this on WIndows (WAMP, PHP 5.4), but after a looooong search I can't find the PHP ext memcached.dll (note the -d at the end).
Any help on how to use this bundle locally while developing on Windows ?
Thanks !

[2015-05-31 20:54] khasinski commented on #41
I am still experiencing this bug, no mentioned workaround worked so far, I am using `php5-memcached 2.2.0 `

[2015-06-05 23:01] mevdschee commented on #48
Sorry, that is currently not supported.

[2015-06-05 23:01] #48 closed

[2015-06-08 17:42] hlorridi commented on #21
if you want, i've made a "temp" fix here
https://github.com/ingenki/memcached-bundle

[code]
[code]

[2015-06-08 20:33] gpupo commented on #41
same here

[2015-06-29 00:35] mevdschee commented on #46
app/console memcache:clear

[2015-06-29 00:35] #46 closed

[2015-06-29 00:37] mevdschee commented on #44
from: http://doctrine-orm.readthedocs.org/en/latest/reference/second-level-cache.html

"The second level cache functionality is marked as experimental for now. "

Shouldn't we wait until it is no longer "experimental"?

[2015-06-29 00:41] mevdschee commented on #45
Can you elaborate on the feature you would like to see? Automatic JMS (de)serialization? Can this be an extension of the Cache object? Can you propose an implementation?

[2015-06-29 00:42] mevdschee commented on #42
No, there is no reason other than that I have no environment to test them. It might work.

[2015-06-29 00:42] #42 closed

[2015-06-29 00:43] mevdschee commented on #40
This issue is addressed in v2 (currently in the dev branch)

[2015-06-29 00:43] #40 closed

[2015-06-29 00:46] mevdschee commented on #38
This bug should no longer exist due to the reverted implementation.

[2015-06-29 00:46] #38 closed

[2015-06-29 00:49] mevdschee commented on #36
Can you do a PR please? I have no way of testing AWS, so I would kindly ask for your help here :-)

[2015-06-29 00:54] mevdschee commented on #29
I am not planning on implementing/supporting this as I do not believe in active cache invalidation.

[2015-06-29 00:54] #29 closed

[2015-06-29 00:56] mevdschee commented on #25
The calls to 'forward_static_call_array' have been removed.

[2015-06-29 00:56] #25 closed

[2015-06-29 00:58] mevdschee commented on #23
Closing inactive issue.

[2015-06-29 00:58] #23 closed

[2015-06-29 01:15] mevdschee commented on #21
@hlorridi I appreciate the effort, thank you. I'm not sure I should merge this workaround, though. As a 'solution' I invested some time and rewrote the bundle to work with the php-memcache extension (without the 'd'). You can find the code in the 'dev' branch for now. It will be version 2, which will be a breaking change. I hope people understand why.

[2015-06-29 01:16] mevdschee commented on #35
please read #21

[2015-06-29 01:18] mevdschee commented on #41
I think this is also related to #21. I wrote a new version based on the other PHP Memcache extension and you can find it in the dev branch. It will (most probably) become version 2.

[2015-06-29 01:20] mayeco commented on #41
For me the solution is to switch to https://github.com/doctrine/DoctrineCacheBundle...

[2015-06-29 05:06] hlorridi commented on #21
Hi, that's not a "fix" but just a temporary tricks. :-/

[2015-06-29 08:47] bigfoot90 commented on #45
I ask to support for caching the parsed entity metadata on memcached.

[2015-06-29 08:51] bigfoot90 commented on #44
@mevdschee Sure. Can you leave this open as reminder?

[2015-06-29 09:13] bigfoot90 commented on #46
Suppose you have the following configuration:
[code]
I want to clear only the doctrine cache, but your command clears all.
I'm using the command with regex ```app/console memcache:clear  --regex='^(?!session_)'``` as a fallback for now.
But a command like this ```app/console memcache:clear  --client=doctrine``` would be much cleaner.

[2015-06-29 14:00] mevdschee commented on #46
@bigfoot90 I think this is already supported with the client parameter. Can you confirm?

[2015-06-29 17:37] bigfoot90 commented on #46
It seems that it work correctly now. closing.
Thanks @mevdschee

[2015-06-29 17:47] mevdschee commented on #46
Thank you.

[2015-06-30 02:10] mevdschee commented on #48
Just a message to notify you that version 2 of this bundle has been released and that this version has Windows support.

[2015-06-30 02:11] mevdschee commented on #5
Just a message to notify you that version 2 of this bundle has been released and that this version has Windows support.

[2015-07-03 11:32] Tanariel opened #52 "You have requested a non-existent parameter "memcache.session_handler.auto_load"."
Hello,

the documentation states that :

But if you *don't want to enable the session* and disable this option you get this error :

[code]

Here is my configuration in config.yml :

[code]

I'm using Symfony version 2.7.1.

Thanks in advance for pointing out any obvious mistake i would have done :)

[2015-07-03 11:49] mevdschee commented on #52
v2.1.2 should have this fixed

[2015-07-03 12:04] Tanariel commented on #52
It solve it indeed.

Thanks very much for your support !

[2015-07-03 12:04] #52 closed

[2015-07-03 12:16] mevdschee commented on #41
Closing this ticket as version 2 is out which uses the PHP memcache extension (not memcached) and does not have these issues.

[2015-07-03 12:16] #41 closed

[2015-07-03 12:17] mevdschee commented on #37
Can you verify that the new version 2 still has this issue?

[2015-07-03 12:17] mevdschee commented on #35
Closing this ticket as version 2 is out which uses the PHP memcache extension (not memcached) and does not have these issues.

[2015-07-03 12:17] #35 closed

[2015-07-03 12:18] mevdschee commented on #21
Closing this ticket as version 2 is out which uses the PHP memcache extension (not memcached) and does not have these issues.

[2015-07-03 12:18] #21 closed

[2015-07-04 07:07] mevdschee commented on #34
I did this for the new version. Thank you for your help, you made it really easy!

[2015-07-04 07:07] #34 closed

[2015-07-04 07:09] mevdschee commented on #32
I connected Travis and see that HHVM is not working yet. I'll try to make it work

[2015-07-04 08:28] mevdschee commented on #32
Can you take a look as well?

https://travis-ci.org/LeaseWeb/LswMemcacheBundle/builds/69521319

[2015-07-04 08:40] mevdschee opened #53 "PHP7 compatibility"
Does anyone understand why memcache.so is not available for PHP 7 on Travis?

https://travis-ci.org/LeaseWeb/LswMemcacheBundle/builds/69521319

Thanks!

[2015-07-12 18:40] h4cc commented on #32
The missing Class `\MemcachePool` seems to be a implementation detail of PHP. Its not document, but it exists as a base class. HHVM did not implement that base class and going directly with `\Memcache`.

[2015-07-12 20:32] mevdschee commented on #32
Is there a workaround somehow? I tried to define the MemcachePool class in hhvm, but I failed.

[2015-08-02 12:23] FR33D0M5K135 opened #54 "Class 'MemcachePool' not found in /vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcache.php on line 4"
Hi

I get this error : Class 'MemcachePool' not found in /vendor/leaseweb/memcache-bundle/Lsw/MemcacheBundle/Cache/LoggingMemcache.php on line 4

But everything seem to be set correctly (php -i):
[code]
And my config_dev.yml:
[code]

I get also that during a php app/console cache:clear:

[code]

$ telnet localhost 11211 give:

[code]
I use leaseweb/memcache-bundle v2.1.2, PHP 5.6.11, Symfony 2.6.9

[2015-08-02 14:54] mevdschee commented on #54
Does this help?

See: http://serverfault.com/questions/386392/troubles-with-memcache-so

[2015-08-02 15:01] mevdschee commented on #54
Also note that HHVM is not supported. Are you running that?

[2015-08-02 15:04] mevdschee commented on #37
Issue seems abandoned, can I close it?

[2015-08-02 15:11] mevdschee commented on #54
You should also be running memcached (the server, not the extension) are you running that?

[2015-08-04 15:34] FR33D0M5K135 commented on #54
That it ! I just did not install memcached. Because of you docs said: *This bundle no longer uses the PHP "memcached" extension that uses "libmemcached", see "Considerations"*, I was confused.

I think that would be more understandable: *This bundle no longer uses the "php-memcached" extension that uses "libmemcached", see "Considerations"*

Thanks !

[2015-08-04 15:34] #54 closed

[2015-08-05 09:24] mevdschee commented on #54
Thank you for the feedback.

[2015-08-05 12:15] Dukecz commented on #37
I will check it.

[2015-08-05 12:54] Dukecz commented on #37
Seems like its working now. You can close it.

[2015-08-05 13:33] mevdschee commented on #37
Thank you for evaluating, glad it helped.

[2015-08-05 13:33] #37 closed

[2015-08-12 07:05] andrzejdziekonski opened #55 "FOS User / Extended entity result cache problem"
Hi,
i am not sure where the problem is but i noticed that when i try to use extended fos user entity i retrieve from cache result which contains only entity base fields (my extended ones are null).
I am doing it this way:
[code]
where setCache and getCache are my methods to write/read cache to memcache pool. When i clear cache i see all the information about article author, but when i check saved

[2015-08-12 10:28] andrzejdziekonski commented on #55
Correct me if i am wrong: it is ok to cache whole object collection result (as above) with this bundle?

[2015-08-12 10:29] andrzejdziekonski commented on #55
missclick with 'close'.

[2015-08-12 12:50] mevdschee commented on #55
In order to store the data and retrieve it, it needs to be serialized and deserialized. This process kills some of the relations that the object has. If you want to test whether or not objects can sustain serialization and deserialization do (without caching):

$result = unserialize(serialize($query->getQuery()->getResult()));

If this does not work, you can not cache the data. Or to summarize:

C

[2015-08-26 22:31] kieste opened #56 "Supporting prefix_key"
Does lmb 2.x support a "prefix_key" option like 1.x did?

[2015-08-27 14:38] mevdschee commented on #56
yes.. it is called "prefix".. see:

LswMemcacheBundle/DependencyInjection/Configuration.php

[2015-08-27 15:44] kieste commented on #56
Thanks for your reply. But isn't the prefix option only an option for session or doctrine?

[2015-08-27 19:19] mevdschee commented on #56
Ah, now I get the question! The memcached PHP extension had a (native) "prefix_key" option (for all operations including session, doctrine and firewall). The memcache (without d) PHP extension does not have this option, thus v2 does not have it.

[2015-09-01 15:55] hanikesn commented on #53
Apparently the memcache extension has not been ported to PHP 7, yet. I'm currently trying to get our code base to run with PHP 7 and this whole memcache/memcahed mess is quite hard to handle.

[2015-09-14 13:32] cbergau opened #57 "Different Memcache Servers on different environments"
Hello,

I am having a problem with your Bundle. When executing my functional tests, i have an environment "test" which includes config_test.yml. That contains:

    lsw_memcache:
        pools:
            default:
                servers:
                    - { host: localhost, tcp_port: 11211, weight: 100 }
                    - { host: localhost, tcp_port: 11211, weight: 50 }

It works totally

[2015-09-14 21:47] mevdschee commented on #57
Why is this a problem? Is the config file part of your code?

[2015-09-15 08:04] cbergau commented on #57
No the problem is this: My Config should look like this:

Application Environment "test" running on dev machine: memcache servers: localhost:11211
Application Environment "test" running on ci machine: memcache servers: someotherip:11217

I don't see a way to configure this right with my config yamls.

[2015-09-15 19:08] mevdschee commented on #57
I suggest you read [this](http://symfony.com/doc/current/cookbook/configuration/environments.html) on how to setup an extra environment. Hope that helps.

[2015-09-15 19:10] #57 closed

[2015-09-30 14:51] odoucet opened #59 "Add LswMemcache to multiple Doctrine entity manager"
Documentation already gives information about how to add LswMemcacheBundle support on Doctrine (see https://github.com/LeaseWeb/LswMemcacheBundle#doctrine-support)
But even if this is well handled for default entity manager, it seems it does not work for multiple entity managers :

When using executeCacheQuery() we get :
**Trying to cache a query but no result driver is configured.**

Another way

[2015-10-01 19:34] mevdschee commented on #59
When you try to add the cache class yourself, you should instantiate a "Lsw\MemcacheBundle\Doctrine\Cache\MemcacheCache" object and then call "setMemcache()" to set the client.

[2015-10-01 20:44] odoucet commented on #59
OK, updating the doc will be great about it :)

[2015-10-01 20:58] mevdschee commented on #59
Well, we still have not figured out why "executeCacheQuery" gives an error and why it seems it does not work for multiple entity managers. Or did you find reasons for that?

[2015-10-02 08:36] odoucet commented on #59
Not yet, And I have to admit I've changed my code after I encountered this
bug to cache the query result myself.

2015-10-01 22:58 GMT+02:00 Maurits van der Schee <notifications@github.com>:

[2015-10-02 08:39] mevdschee commented on #59
OK, thank you. I will try to reproduce it and update this thread.

[2015-10-02 16:37] jessegreathouse commented on #32
It seems like there needs to be an adapter layer for compatibility with different architectures (hhvm vs php) which is unfortunate. Not sure how realistic it is to expect something like that. I like using this bundle, but I must make a decision to use something else if I use HHVM for the project.

[2015-12-15 12:31] JHGitty opened #63 "Support for Symfony 3"
Duplicate of #64

[2015-12-15 12:32] JHGitty opened #64 "Support for Symfony 3"
This bundle should get support for Symfony3.

[2015-12-15 12:34] #63 closed

[2015-12-24 16:21] Tanariel opened #66 "Warning: MemcachePool::set(): The lowest two bytes of the flags array is reserved for pecl/memcache internal use"
Hello,

i'm running a server on ubuntu 14.04, with the 3.0.8 memcache extension and i get this :

An exception has been thrown during the rendering of a template ("Warning: MemcachePool::set(): The lowest two bytes of the flags array is reserved for pecl/memcache internal use")

The only trail i found was here :
http://stackoverflow.com/questions/3740317/php-memcached-error

but i didn't find a wa

[2015-12-24 23:21] mevdschee commented on #66
Can you show the code that calls the "set" method?

[2015-12-25 07:41] Tanariel commented on #66
Ok my bad, i only now realised that by changing the extension, the syntax of the set / get have changed.

Will refactor my code according to the new parameters for those functions.

Thanks for the help :)

[2015-12-25 07:47] #66 closed

[2016-01-02 15:35] jimaek commented on #53
@mevdschee
It doesnt look like the memcache extension is going to be updated. Someone made a fork with PHP7 support https://github.com/websupport-sk/pecl-memcache (didnt test it)

But most switched to memcached that supports PHP7 as far as I know.
Any plans to switch to the other better supported extension?

[2016-01-03 15:28] jimaek commented on #64
I am curious what are your plans for Symfony 3 support?

[2016-01-03 16:44] JHGitty commented on #64
Currently this bundle only supports ``symfony/framework-bundle`` in version ``^2.1``. Anybody could add support to this bundle, feel free. :+1:

[2016-01-04 00:10] mevdschee commented on #53
Version is already switched.

[2016-01-04 00:12] mevdschee commented on #64
Yes.. please do, it will be merged!

[2016-01-04 09:34] jimaek commented on #53
From the readme: "NB: This bundle no longer uses the PHP "memcached" extension that uses "libmemcached", see "Considerations". "

Version 2  switched away from the PHP7 supported extension to the currently broken one.

[2016-01-04 11:17] mevdschee commented on #53
Ah.. sorry, even I was confused. PSR compliant PHP projects can better avoid memcached, due to the problems that project has with inheritance of it's base class. See: #21

[2016-01-04 11:22] hanikesn commented on #53
@jimaek I'm kinda mainting a memcached compatible version:
https://github.com/hanikesn/memcached-bundle/commits/memcached-compat
The problem is that for newer memcached versions, it's not extending \Memcached anymore. There are workaround for DoctrineCache in there, but if you have custom code you need to change that to use \MemcachedInterface.

[2016-01-04 11:23] mevdschee commented on #53
Good work @hanikesn !

[2016-01-04 11:24] jimaek commented on #53
@mevdschee Ok, so I guess this module wont get PHP7 support until that extension gets updated?
I dont think this will happen any time soon if at all. Maybe you could link people to the fork https://github.com/websupport-sk/pecl-memcache to at least have the option to compile it themselves if they want to

[2016-01-04 12:00] mevdschee commented on #53
I added a link to the readme. Let's hope he does a PR and it gets merged.

[2016-01-14 13:29] jimaek commented on #64
https://github.com/LeaseWeb/LswMemcacheBundle/pull/67

[2016-01-14 23:06] mevdschee commented on #64
Thank you!!! Awesome..

[2016-01-14 23:06] #64 closed

[2016-01-29 18:42] andrzejdziekonski commented on #10
Could you tell me how to refresh key cache if i manage to use getAdp method? Let's say i have articles query stored in $key = 'articles'. When i edit one of articles i would like to refresh my cache. Normally i would use $this->container->get('memcache.default')->delete($key) but is it OK when in adp case? Or maybe should i setAdp($key, NULL, 0, $ttl)?

[2016-01-30 08:46] mevdschee commented on #10
Delete still works as normal, the data is stored on the same key in a different format.

[2016-01-30 09:01] andrzejdziekonski commented on #10
So what actually happens on delete adp cache entry? Readme says "we serve the old cache entries while calculating the new value and by using an atomic read and write operation we can make sure only one thread will receive a cache miss when the content is invalidated". When i delete the key there is no "old cache entry" to serve. Is it some kind of soft delete? I would like to understand this to us

[2016-01-30 09:22] mevdschee commented on #10
Stale (old cache) entry will not be served anymore, when key is deleted using the delete call. Invalidating an ADP entry, so that only one thread receives a miss is currently not possible. It is not really hard to implement and it is a reasonable request. I'm willing to implement that if that's what you're after.

[2016-01-30 10:31] andrzejdziekonski commented on #10
Sounds great!

[2016-01-30 11:29] mevdschee commented on #10
ok.. give me a few hours :-)

[2016-01-30 23:19] mevdschee commented on #10
Version 2.1.8, that was just released, has the added function "deleteAdp()" that you suggested. Thank you!

[2016-01-30 23:27] #55 closed

[2016-01-30 23:27] mevdschee commented on #55
Closed due to inactivity

[2016-01-31 10:52] andrzejdziekonski commented on #10
Thank you, works like a charm! :+1:

[2016-02-18 09:21] andrzejdziekonski commented on #66
Hi,

i also have this warning. No mather what do i use: set , or setAdp. My declaration is:
for 'set' in controller:
```$this->get('memcache.default')->set($key, $value, 0, 7200);```

for 'setAdp' in controller:
```$this->get('memcache.default')->setAdp($key, $value, 7200);```

I use default bundle configuration:
[code]

Might it be any server memcached configuration problem?

[2016-02-18 09:31] Tanariel commented on #66
Hey andrzejdziekonski,

Did you check if you didn't change the memcache extension used by php ?

The previous versions of the bundles were using memcached <-- the d is important, and the newest versions uses memcache (<- no d).

If so, the problem is that the memcache extension 'set' syntax is not the same than the memcached one :

http://php.net/manual/fr/memcached.set.php -> public bool Memcache

[2016-02-18 10:13] mevdschee commented on #66
It does need flags as third parameter, see: https://github.com/LeaseWeb/LswMemcacheBundle/blob/master/Cache/AntiDogPileMemcache.php#L53

[2016-02-18 10:15] andrzejdziekonski commented on #66
Hi Tanariel,

thanks for your reply. I am pretty sure i am using 'memcache' extension. My phpinfo() says:
**memcache**
memcache support	enabled
Version	3.0.8
Revision	$Revision: 329835 $

[2016-02-18 10:16] andrzejdziekonski commented on #66
Does or does not?
in your setAdp() declaration u have
[code]

so the third argument is ttl, and no $flag in there. Anyway i have the warning when i use 'set' function too so its not the case.

[2016-02-18 10:38] mevdschee commented on #66
@andrzejdziekonski does NOT, sorry for the confusion

[2016-02-18 10:55] andrzejdziekonski commented on #66
@mevdschee Do u know what might cause the problem?

My server configuration:
[code]
$ pkg info \*memcache\* says:
[code]
Am i missing something ?
I experimentaly changed third argument for 'set' and error said "expects parameter 3 to be long, string given" if it rings any bell.

[2016-02-18 11:12] andrzejdziekonski commented on #66
Ok, nevermind. My warnings disappeared after i restarted server (before i had both pecl-memcached and pecl-memcache extensions).

[2016-02-18 13:03] mevdschee commented on #66
OK, glad it is solved. Thanks for reporting back.

[2016-03-24 11:30] LeniA1 opened #69 "enable memcached extensions"
Hi guys,

I would like store my datas on a remote server.
Do I have to install memcache on all my webservers ? composers says so ... :(

[2016-03-25 09:59] mevdschee commented on #69
You install the client (php5-memcache) on all webservers (as suggested). Where you install the server (memcached) is up to you.

[2016-03-26 18:51] esoft-marphy opened #70 "Problem with new webprofiler"
`The profiler template "LswMemcacheBundle:Collector:memcache.html.twig" for data collector "memcache" does not exist.`
I have symfony version 3.0.3

[2016-03-28 09:24] mevdschee commented on #69
It is not a bad idea to run memcached locally on your webservers, because it will be very low latency that way, but it is not mandatory.

Shall I close the issue?

[2016-03-29 14:51] LeniA1 commented on #69
Yes all good,  thank you very much for this very clear explonation !

[2016-03-30 12:07] mevdschee commented on #69
You are welcome, enjoy the software!

[2016-03-30 12:07] #69 closed

[2016-04-20 16:29] seankooler opened #71 "Add memcache class as parameter"
Hello,

First of all, thank you for building a very nice cache bundle.

I wouldd like to load my own class extended from Lsw\MemcacheBundle\Cache\AntiDogPileMemcache in stead of this class.

Is there any way to new the definition with a parameter like memcache.cache.class to use my own class ?

Thank you

[2016-04-27 12:06] wajaja opened #72 "Cache the session"
Hi, I try to cache the session in my symfony2 web; but i got this message ** Notice: MemcachePool::add():**
I use default configuration.

[2016-06-15 13:34] mehdimabrouk opened #73 "Error on Travis / Memcached 2.1.0"
Hello, in my composer.json I have ` "leaseweb/memcache-bundle": "1.2.*",`
And in .travis.yml :
`- echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini
- pecl install -f memcached-2.1.0
- echo "extension = memcache.so" >> ~/.phpenv/versions/$(phpenv version-name)/etc/php.ini`

I have this error
`<b>Fatal error</b>:  Uncaught exception 'LogicException' with message

[2016-06-23 08:41] falvarez opened #75 "Error displaying server statistics"
When calling memcache:statistics, I get something like:
[code]

It seems that `$memcache->getStats()` returns statistics for the whole pool instead of an array of server => statistics.

I have tried myself to fix the issue:

https://github.com/falvarez/LswMemcacheBundle/commit/bfce68ee3fa2f33233b06d4d6f6273301faafbd7

But I'm not really sure if it is the right way to do it.

Thanks in advance. Kin

[2016-06-23 10:18] mevdschee commented on #75
Thank you. I will need to try to see whether or not this works. Did you run it on a pool with multiple servers? Does it show hits and misses per server?

[2016-06-23 12:23] falvarez commented on #75
Hello.

I thought that `$memcache->getStats()` returned statistics for the whole pool, but it only return stats for the first server of the pool.

It seems that the right method should be `$memcache->getExtendedStats()`. It returns data in the expected format (array of server => stats).

I will shortly submit a PR.

Many thanks and kind regards.

[2016-06-24 08:44] mevdschee commented on #75
merged #76

[2016-06-24 08:44] #75 closed

[2016-07-27 07:12] mevdschee opened #77 "Forked: Maintainers write permissions removed."
The organization LeaseWeb has removed my write permissions, so I can no longer maintain this bundle. I forked it to my personal account, so that I can continue to serve the community. See:

https://github.com/mevdschee/TqdMemcacheBundle

Sorry for the inconvenience this causes.

[2016-08-19 12:55] theosilva opened #78 "mcrouter compatibility"
Hi,

Working with this bundle on its release 2.1, I had issue with mcrouter or any working cluster of memcache servers. I fixed this problem by a simple hack in Lsw\MemcacheBundle\Cache\LoggingMemcache at line 145 in get method :

$result = parent::get($_key);

This method has  these two pointer parameters "&$flags=null" and "&$cas=null" which are may be usefull in set method but completely not us

[2016-09-04 16:40] sverraest opened #79 "Symfony 3.0 Compatibility"
It looks like the bundle is no longer compatible with the newer versions of Symfony.
Currently on 3.1 I'm getting this error
[code]

[2016-09-04 22:37] mevdschee commented on #79
Hi, I think "setScope" should be replaced with "setShared", see:

https://github.com/symfony/symfony/blob/master/UPGRADE-3.0.md#dependencyinjection

Maybe you can do a pull request?

[2016-09-04 22:40] sverraest commented on #79
Thanks for the tip! I'll have a look.

[2016-09-12 15:14] #72 closed

[2016-09-19 11:54] artemalexpetrov opened #80 "PHP 7.* compatibility. Cannot use empty list"
Hi! This code cannot be executed on php7 and throws an error.

`list() = array();`

[2016-09-19 14:54] mevdschee commented on #80
Which line does the error occur?

[2016-09-21 05:16] artemalexpetrov commented on #80
LoggingMemcache class
Lines 55, 57, 250, 252

[2016-09-21 11:45] kaczenski opened #81 "doContains bars us to store 0 (zero)"
[code]
The boolean cast bars us to store data that is casted to false. We checked it is possible to save and fetch data like 0 (ZERO). But the doContains() method make us believe it is not saved.

[2016-09-21 20:55] mevdschee commented on #81
It should either be "!==null" or "!==false" (I would have to consult the extension). Maybe you can do a PR?

[2016-09-26 07:47] bubnovKelnik opened #83 "Fix debug.yml for Symfony3 compatible"
Not quoting the scalar "%memcache.data_collector.class%" and "%memcache.data_collector.template%" starting with the "%" indicator character is deprecated since Symfony 3.1 and will throw a ParseException in 4.0

Already have the PR: https://github.com/LeaseWeb/LswMemcacheBundle/pull/82

[2016-09-27 17:18] GabrielAnca commented on #83
Thanks for your contribution! This issue is closed as PR #82 is merged :smiley:

[2016-09-27 17:19] #83 closed

[2016-09-29 08:36] fabianoroberto commented on #14
Same issue using MAMP:

To enable extensions, verify that they are enabled in those .ini files:
    - /Applications/MAMP/bin/php/php5.6.10/conf/php.ini

$ brew install memcached
Warning: memcached-1.4.24 already installed

[2016-11-05 21:21] d3f3kt opened #84 "Feature: assign tags to memcache items"
I've written some month ago a little system to assign memcache items tags. So it's possible to invalidate all items which owns a tag by invalidating this special tag.

I think it will be very helpful to migrate this code directly into the memache bundle.

[code]

[code]

[2016-11-25 04:16] sharipovmarat opened #85 "Prefix for pool"
Hi!
[code]

This is my configuration. I have a 2 versions on one server (dev and prod). When i open dev version, memcache data load from prod version.

Can you add prefix key supporting for this?

[2016-11-25 06:16] mevdschee commented on #85
See: #56

[2016-11-27 08:38] kironet opened #86 "PHP7 memchached is not supported"
Hey,

what should I install to use this bundle with php7 if php7 doesn't support memcached?

Thanks

[2016-11-28 19:44] mevdschee commented on #86
It is available now, just run `apt install php-memcached`, that will do it.

[2016-11-28 20:51] mevdschee commented on #79
I was not able to reproduce this bug.

[2016-11-28 20:58] mevdschee commented on #81
Fixed in https://github.com/mevdschee/TqdMemcacheBundle/commit/a7d976547547c03892fa21297b90584412afdd37

[2016-11-29 10:00] kironet commented on #86
I'm using centos and still see this error.

pecl/memcached requires PHP (version >= 5.2.0, version <= 6.0.0, excluded versions: 6.0.0), installed version is 7.0.13

[2016-11-29 10:41] GabrielAnca commented on #86
Hi!

Apparently php7 support is not available in the memcached pecl packages yet. However, this seems to work: https://github.com/php-memcached-dev/php-memcached/tree/php7

Here you can find how to install it: https://github.com/ChiVincent/php-7-centos/blob/master/memcached.sh

[2016-11-29 10:52] mevdschee commented on #86
AFAIK this bundle no longer uses `pecl/memcached`, it uses `pecl/memcache`.

[2016-11-29 10:58] kironet commented on #86
Oh, then I should uninstall memcached and install memcache. Thanks

[2016-11-29 11:02] mevdschee commented on #86
Use this howto: http://boomshadow.net/tech/installs/how-to-install-php-memcache/

Use this source: https://github.com/websupport-sk/pecl-memcache/tree/NON_BLOCKING_IO_php7

[2016-11-29 20:37] mevdschee commented on #70
I'm running symfony version 3.1 (latest) and was not able to reproduce this bug.

[2016-12-11 02:11] kironet opened #87 "ReflectionException"
Hey,
I have a problem with this bundle mb whole memcached.
I have 2 websites that have Entity called Category. So If I restart memcached, one website stop working with this error>

Property Entity\Category::$name does not exist
or
Property Entity\Category::$title does not exist

Because one entity has $name second $title.

Is it possible to somehowe add prefix or something to let memcached recogni

[2016-12-11 02:11] #86 closed

[2016-12-13 11:58] kironet commented on #87
Any ideas?....

[2016-12-14 10:52] kironet commented on #56
@mevdschee so how to use this bundle with multiple websites on one server?
I always get ReflectionException

[2016-12-14 10:59] mevdschee commented on #56
@kironet I don't know. Maybe somebody else does?

[2016-12-14 11:01] mevdschee commented on #87
I guess you need more prefixes.. Can you create a failing test case? I would be able to implement these extra prefix options for you.

[2016-12-23 00:11] nurikabe opened #88 "Second level cache support?"
Just curious if it's possible to use this bundle with the [second level cache](http://docs.doctrine-project.org/projects/doctrine-orm/en/latest/reference/second-level-cache.html).  Would make it a lot easiser to see what is going on with caching.

Thanks for a great bundle!

[2016-12-29 17:05] nurikabe commented on #88
Duplicate of #44

[2016-12-29 17:05] #88 closed

[2016-12-29 17:06] nurikabe commented on #44
These days I think the second level cache is "experimental" the way that Google was "beta" for about a decade.

[2017-01-06 16:47] madebymatty opened #89 "Breaks if memcache is turned off"
Hi,

I'm using LswMemcacheBundle and it works perfect while memcache is on and running but if I switch memcache off it errors and timesout.

It throws an error in the lockingSessionHandler, lockSession.

Thanks

[2017-01-06 19:38] mevdschee commented on #89
What is the expected behavior when you have it configured to run your sessions?

[2017-01-12 08:53] #89 closed

[2017-01-13 05:53] allfreelancers opened #90 "ClassNotFoundException in LoggingMemcache.php line 4:"
Attempted to load class "MemcachePool" from the global namespace.
 Did you forget a "use" statement?

why?ClassNotFoundException in LoggingMemcache.php line 4:

[2017-01-13 06:39] mevdschee commented on #90
Are you using hhvm? That is a known issue on that platform. Else it may mean you don't have the extension php-memcache loaded.

[2017-01-13 06:40] allfreelancers commented on #90
no, php 5.5 OS Windows 7

[2017-01-13 06:58] allfreelancers commented on #90
but php 5.6 works well

[2017-03-06 19:17] gmansilla opened #91 "What value should be used as handler_id in config.yml?"
In my case, I have multiple instances of my app running behind a load balancer, that's why I wanted to save sessions in memcached in the first place.

What should I use as handler_id in config.yml? If I leave this null, then it'll use the default session handler from php.ini

    framework:
        session:
            gc_probability: 0
            handler_id: # ?

[2017-03-07 15:43] #91 closed

[2017-03-12 22:08] gmansilla commented on #91
For those having the same problem I had:

1) The handler id is a reference to an actual Service defined in your services.yml file.

2) Since this bundle is a wrapper for the [Memcached] class you can either extend it or use the base class.

That being said, you could do something like

    my.memcached.service:
        class: Memcached
        calls:
            - [addServer, ['memcached_address',

[2017-03-12 22:11] mevdschee commented on #91
@gmansilla Note that that session handler does not implement locking.

see: https://github.com/symfony/symfony/blob/master/src/Symfony/Component/HttpFoundation/Session/Storage/Handler/MemcachedSessionHandler.php

[2017-03-12 22:17] gmansilla commented on #91
Right, so if you want to have locking available you must replace

"Symfony\Component\HttpFoundation\Session\Storage\Handler\MemcachedSessionHandler"
with "Lsw\MemcacheBundle\Session\Storage\LockingSessionHandler".

I think this is worth mentioning in the README file. Should I create PR for this?

[2017-03-12 22:29] mevdschee commented on #91
Yes.. good idea.. although I won't be the one merging it.

[2017-03-12 22:30] gmansilla commented on #91
Fair enough. I'll create the PR.

[2017-03-24 13:10] pma-tvn opened #94 "Bundle requires PHP >= 5.4, not >= 5.3"
https://github.com/LeaseWeb/LswMemcacheBundle/blob/v2.1.11/Command/ClearCommand.php line 71 uses new object syntax which is available since PHP 5.4.
http://php.net/manual/en/migration54.new-features.php

Problem: If you have PHP 5.3.* on your server, then you have to hardcode LswMemcacheBundle version to 2.1.8, because it's last one with correct PHP requirement,

[2017-05-08 11:46] bds4web opened #95 "E_NOTICE: MemcachePool::cas(): Server 192.168.0.1 (tcp 11223, udp 0) failed with: NOT_FOUND (0)"
Hello,

I encounter this notice everytime when I am using getAdp on a non-existing key.

Env details:
"leaseweb/memcache-bundle": "2.1.11"
PHP 5.5.30
memcache: 3.0.8

Thanks!

[2017-05-08 18:19] mevdschee commented on #95
Add a "@" before the `parent::cas` command on line 115 in `LoggingMemcache.php`:

https://github.com/LeaseWeb/LswMemcacheBundle/blob/master/Cache/LoggingMemcache.php#L115

[2017-05-16 08:18] bds4web commented on #95
Thanks, but this is not what I was expected. :) So, there is not other solution for this issue?

With or without errors suppression, If found out that it is translated into a lot of sets to memcache, even if the key exists.

Could be something related to php-ext version?

[2017-05-16 08:58] COil opened #96 "PHP7 and Debian: does not support version 3.0.3 of the memcached extension"
Hello, on Debian 8 I have installed memcached with:

   apt-get install php7.0-memcached

I've got the following this error message:

    LswMemcacheBundle does not support version 3.0.3 of the memcached extension

That version is too "new", any chance it could be considered as 2.2 and work ? I see the if / else in the MemcacheInterface file regarding the version it get.

[2017-06-01 17:07] d3f3kt commented on #77
Is this issue still active? It looks like you have write access again?

[2017-08-31 16:28] pohlaniacz opened #100 "Cannot use memcached at php 7.0 because of missing Memcache"
Hi, I can't install php5-memcache because it's not available at Debian with php 7.0, so I'm getting an error "Memcache extension is not loaded! To configure pools it MUST be loaded!". Of course memcached extensions is loaded properly, how can I fix/bypass this?

[2017-08-31 17:34] mevdschee commented on #100
@pohlaniacz I'm afraid you can't because there is a memcache and a memcached (with a "d") extension. The memcached extension is not supported. You may have to install the memcache extension via PECL.

[2017-08-31 17:43] pohlaniacz commented on #100
I know it, but I though that there is a workaround or I'm missing something. .

[2017-11-10 09:48] Glideh commented on #94
This syntax can also be found in `Command\StatisticsCommand::interact`
I too have this issue trying to use the bundle in a old installation (php 5.3.10)
I'd like to avoid going back to `2.1.8` if possible.

[2018-02-15 05:48] allfreelancers opened #101 "User Deprecated Symfony 4.0"
User Deprecated: Implementing "Symfony\Component\HttpKernel\DataCollector\DataCollectorInterface" without the "reset()" method is deprecated since Symfony 3.4 and will be unsupported in 4.0 for class "Lsw\MemcacheBundle\DataCollector\MemcacheDataCollector".

[2018-02-15 05:53] mevdschee commented on #101
Good find, thank you. What do you propose? Can you do a PR?

[2018-02-15 05:56] allfreelancers commented on #101
@mevdschee What does PR mean?

[2018-02-15 06:05] mevdschee commented on #101
@allfreelancers ... sorry about the acronym.. I meant a Pull Request.

[2018-02-15 06:09] allfreelancers commented on #101
@mevdschee ok, a little later I will prepare

[2018-02-15 08:58] GabrielAnca commented on #101
Hi @allfreelancers. We would be very happy if you want to contribute about this issue. You can use these two pull requests as a reference, they fixed the same issue in other of our bundles:
* https://github.com/LeaseWeb/LswApiCallerBundle/pull/36
* https://github.com/LeaseWeb/LswApiCallerBundle/pull/37

Best regards

[2018-02-19 07:18] allfreelancers commented on #101
in Lsw\MemcacheBundle\DataCollector\MemcacheDataCollector we can add this?
``php
public function reset()
{
  $this->data = [];
}
``

[2018-02-19 21:20] GabrielAnca commented on #101
Hi @allfreelancers, if you do that, it will most likely remove the warnings.

Please use `array()` instead of `[]` to keep backwards compatibility :)

[2018-03-26 07:43] skoop commented on #100
I'm running into this as well, and installing memcache via PECL seems to not be that easy on PHP 7.1. Given the memcache extension is sort of deprecated, is there any chance of a newer version of this bundle using memcached?

[2018-03-26 12:12] mevdschee commented on #100
Is it? Do you have a reference?

I tried hard to implementing it, but without much luck. Some of the object interfaces of memcached are not fully PHP compatible.

[2018-03-26 13:39] skoop commented on #100
memcache extension is not packaged with PHP anymore, and if you try to build it on PHP 7.1 you get errors because some PHP header files are renamed in PHP7.

For now I've solved the problem by using a fork of the memcache extension that is still maintained (https://github.com/websupport-sk/pecl-memcache) but as you can see from the official PECL page the last release was in 2013: http://pecl.php.n

[2018-03-26 16:28] mevdschee commented on #100
Nor is or was memcached.

But is notoriously known for it's bad support on Windows.

AFAIK distributions (such as Debian and Centos) have chosen to build and include the beta versions (of php-memcache). So IMHO you better invest time in getting official builds of php-memcache out, then to rework this package from one sub-par dependency to the other. Honest advice, really :-)

[2018-04-17 16:08] andreandev commented on #56
Is not there another solution instead of using a another port?

[2020-05-27 07:54] tobias-93 commented on #101
For anyone looking for a Symfony 4 compatible version of this bundle: I have forked the bundle and applied the patches necessary for Symfony 4 here: https://github.com/Kick-In/LswMemcacheBundle. Use `"kick-in/memcache-bundle": "~v3.0"` as composer constraint.